<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dian.org.monitor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--聚合数据要用的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--百度地图的权限-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MyApplicatioin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--ORM数据库框架-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Monitor.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="dian.org.monitor.touritem.TourItem" />


        <!--聚合数据添加的内容-->
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JHe4b1e1dd73ebd4a6255d96acc0a028d2" />

        <!--百度地图添加的内容-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cPGT7wGumTUP9pBXhfTPbCPT" />

        <!--登陆Aty-->
        <activity
            android:name=".login.LoginAty"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面Aty-->
        <activity
            android:name=".MainActivity"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait" />

        <!--设置Aty-->
        <activity
            android:name=".SettingAty"
            android:screenOrientation="portrait" />

        <!--巡视列表Aty-->
        <activity
            android:name=".TourListAty"
            android:screenOrientation="portrait" />

        <!--报表编辑Aty-->
        <activity
            android:name=".TourEditAty"
            android:screenOrientation="portrait" />

        <!--WeatherState编辑Aty-->
        <activity
            android:name=".touritem.WeatherStateAty"
            android:screenOrientation="portrait" />

        <!--ConstructStateAty编辑Aty-->
        <activity
            android:name=".touritem.ConstructStateAty"
            android:screenOrientation="portrait" />

        <!--MonitorFacilityAty编辑Aty-->
        <activity
            android:name=".touritem.MonitorFacilityAty"
            android:screenOrientation="portrait" />

        <!--SupportStructAty编辑Aty-->
        <activity
            android:name=".touritem.SupportStructAty"
            android:screenOrientation="portrait" />

        <!--SurroundEnvAty编辑Aty-->
        <activity
            android:name=".touritem.SurroundEnvAty"
            android:screenOrientation="portrait" />

        <activity
            android:name=".gps.GpsTestAty"
            android:screenOrientation="portrait" />

        <activity android:name=".test.PhotoEditAty" />

        <!-- 编辑word的activity-->

        <!--定位相关-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
    </application>

</manifest>
